[core]
    excludesfile = ~/dotfiles/git/.gitignore
[user]
    name = Diego Oliveira
    email = contato@diegoholiveira.com
[color]
    diff = auto
    status = auto
    branch = auto
    interactive = auto
    ui = auto
[color "branch"]
    current = green bold
    local = green
    remote = red bold
[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold
[color "status"]
    added = green bold
    changed = yellow bold
    untracked = red
[color "sh"]
    branch = yellow
[alias]
    amend = commit --amend -C HEAD
    undo = reset --soft HEAD~1
	branch-clean = "!f() { \
		git branch | grep -v \"master\" | xargs git branch -D; \
		}; f"
[push]
    default = tracking

