[advice]
	statusHints = false
[alias]
	amend = commit --amend -C HEAD
	publish = "!git push --set-upstream origin $(git rev-parse --abbrev-ref HEAD)"
	update = pull origin master
	undo = reset --soft HEAD~1
	unstage = reset HEAD --
	identity = "! git config user.name \"$(git config user.$1.name)\"; git config user.email \"$(git config user.$1.email)\"; git config user.signingkey \"$(git config user.$1.signingkey)\"; :"
[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto
	ui = auto
[core]
	excludesfile = ~/.gitexcludes
[fetch]
	prune = true
[merge]
	tool = vimdiff
[pull]
	rebase = true
[push]
	default = tracking
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
[user]
	useConfigOnly = true
[user "personal"]
	name = Diego Henrique Oliveira
	email = contato@diegoholiveira.com
	signingkey = DC38884EFC6C93E4
[user "corp"]
	name = Diego Henrique Oliveira
	email = diego.henrique@mercadolivre.com
	signingkey = 0E427120AE75CA63
[commit]
	gpgsign = true
