[core]
    excludesfile = ~/.gitexcludes
[user]
    name = Diego Oliveira
    email = contato@diegoholiveira.com
[color]
    diff = auto
    status = auto
    branch = auto
    interactive = auto
    ui = auto
[alias]
    amend = commit --amend -C HEAD
    undo = reset --soft HEAD~1
    co = checkout
    ci = commit
    br = branch
    st = status
[push]
    default = tracking
